.pageBackground {
    background-color: rgb(158,161,168);

}
/*Welcome section*/


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {

    background-color: rgb(158,161,168);

}



.icon {

    color: red;

    font-size: 3em;

}



.navIcon {

    color: red;

}



.footerIcon {

    color: red;

    font-size: 2em;

}