/*.pageBackground {*/
/*    background-color: rgb(158,161,168);*/
/*}*/

.pageBackground {
    background: url(../documentation/images/pexels-photo-691668.jpeg) no-repeat center right fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    position: relative;
}



/*Welcome section*/
.welcomeSection {
    background-color: rgba(0,0,0,0.20);
    border-radius: 0;
    color: snow;
}



/*.aboutSection*/

.aboutSection{
    border-radius: 0;
    color: snow;
}




.icon {

    color: red;

    font-size: 3em;

}



.navIcon {

    color: red;

}



.page-footer{
    color: black;
}

.footerIcon {

    color: red;

    font-size: 2em;

}