.about {
    background-color: rgb(157,162,168);
}

.portfolio {
    background-color: rgb(177,180,187);
}

form {
    background-color: rgb(206,206,214);

}

footer {
    background-color: grey;
    height:fit-content

}